.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c7d2a4;
  padding: 1rem;
  color: black;
  border-bottom: solid 1px black;
  position: relative;

  .menu-burger {
    display: block;
    cursor: pointer;
  }

  .menu-burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
  }

  p {
    font-size: 20px;
    border: solid 1px;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .login {
    img {
      height: 35px;
      width: 35px;
    }
  }

  .menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    background-color: #333;
    text-align: left;
    transition: 0.25s;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      padding: 8px 16px;
    }
    
    a {
      color: white;
      text-decoration: none;
      display: block;
      font-size: 20px;
    }
    
    a:hover {
      background-color: #575757;
    }
  }

  .menu.open {
    display: block;
  }
}

/* Styles pour le composant NavBar */

/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: white;
} */





